*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cuprum', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
header{
    
    display: flex;
    
    align-items: center;
    min-height: 42px;
    background-color: #293449;
    color: white;
}
.title{
    width: 220px;
    background-color: #ee3643;
    position: relative;
    margin-left: 130px;
    margin-right: 10px;
}
.title h2{
    text-align: center;    
    line-height: 42px;
    
}
.dark-rectangle{
    position: absolute;
    width: 220px;
    height: 5px;
    background-color: #b52933;
    bottom: -5px;
}
.fa-magnifying-glass{
    width: 20px;
    height: 20px;
}


.search{
    padding-bottom: 5px;
}
.search label{
    padding-bottom: 5px;
    margin-left: 15px;
}
.bookmarks{
    margin-left: 25px;
}

.order-button{
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    color: inherit;
    border: none;
    
}