*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cuprum', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
header{
    
    display: flex;
    
    align-items: center;
    min-height: 42px;
    background-color: #293449;
    color: white;
}
.title{
    width: 220px;
    background-color: #ee3643;
    position: relative;
    margin-left: 130px;
    margin-right: 10px;
}
.title h2{
    text-align: center;    
    line-height: 42px;
    
}
.dark-rectangle{
    position: absolute;
    width: 220px;
    height: 5px;
    background-color: #b52933;
    bottom: -5px;
}
.fa-magnifying-glass{
    width: 20px;
    height: 20px;
}


.search{
    padding-bottom: 5px;
}
.search label{
    padding-bottom: 5px;
    margin-left: 15px;
}
.bookmarks{
    margin-left: 30px;
    padding-top: 10px;   
}
.bookmarks h4{
    display: inline-block;
    padding: 0 45px 10px 8px;
}
.basket{
    /* margin-left: 30px; */
    padding-top: 10px;   
}
.basket h4{
    display: inline-block;
    padding: 0 30px 10px 15px;
}

.order-button{
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    color: inherit;
    border: none;    
}
section{
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;    
    padding: 50px 0 0 180px;
}
section p{
    color: red;
    font-style: italic;    
    line-height: 1.4rem;
}
address{
    margin-left: 75px;
}
.address-phone{
    font-style: normal;
    color: rgb( 238, 54, 67 );
    font-size: 21px;   
    width: 270px;
    height: 45px;
    border: 3px solid white;
    padding-left: 10px;
    /* padding-top: 3px; */
}
.address-phone svg{
    
    padding-top: 10px;
}
.address-phone h4{
    display: inline-block;
    padding-left: 35px;    
}
address h5{
    font-style: normal;
    color: rgb( 50, 66, 92 );
    font-size: 14px;
    font-weight: normal;
}

section button{
    border: none;
    color: black;
    background-color: white;
    width: 120px;
    height: 50px;
    font-size: 21px;
    font-family: "Cuprum";       
    line-height: 1;       
}
.enter-button{
    display: flex;
    margin-left: 70px;
    margin-right: 10px;
    align-items: center;       
}
.enter-button svg{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.enter-button h4 {
    font-weight: normal;
} 

.register-button{
    width: 150px;
}

nav {
    display: flex;
    justify-content: center;
    
}

nav li{
    list-style-type: none;
}
nav a{
    display: inline-block;
    background-color: #32425c;
    text-decoration: none;
    color: white;
    padding: 20px 35px;
}

.top-main{
    background-color: #f3f7f9;
    min-height: 330px;
}

main{
    display: grid;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    color: white;
}
main button{
    background-color: rgba(0, 0, 0, 0.102);
    border: none;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-family: "Cuprum";
}
.card{
    /* width: 300px; */
    height: 123px;
    padding-left: 20px;
    padding-top: 20px;
}
.card h2{
    margin-bottom: 15px;   
}
.materials{
    background-image: url('./img/color.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 205px 45px;
    background-color: #ffbf47;    
}

.tools{
    background-color: #3bbce3;  
    background-image: url('./img/drill.png');
    background-repeat: no-repeat;
    background-position: 205px 25px;  
}

.technics{
    background-color: #dc91d8; 
    background-size: 25%;
    background-image: url('./img/tractor.png');
    background-repeat: no-repeat;
    background-position: 205px 35px; 

}

.discounts{
    background-color: #8ed78f;    
    background-size: 25%;
    background-image: url('./img/basket.png');
    background-repeat: no-repeat;
    background-position: 205px 35px; 
}

.delivery{
    background-color: #ffbf47;   
    background-size: 25%;
    background-image: url('./img/delivery.png');
    background-repeat: no-repeat;
    background-position: 205px 35px;  
}
.main-slider{
    /* background-color: darkcyan; */
    position: relative;
    grid-column: 1/3;
    grid-row: 2/4;
}
.main-slider h1{
    font-size: 36px;     
    text-transform: uppercase;  
}
.main-slider p{
    font-size: 18px;       
}
  
.drills-for-neighbours{   
    display: none; 
    padding-top: 25px;
    padding-left: 25px;
    height: 100%;
    
    background-image: url(./img/drills-for-neighbours.png);
    
}
.perforators{
    display: block;
    padding-top: 25px;
    padding-left: 25px;
    height: 100%;
    background-image: url(./img/perforator.png);
}
.arrow{
    position: absolute;
    top: 45%
}
.left-arrow{
    left: 20px;
}
.right-arrow{
    right: 20px;
}
.catalog{
    width: 195px;
    height: 40px;
    background-color: red;
    margin-top: 125px;
    font-size: 15px;
}